<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Подтверждение удаления</h5>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить аккаунт <span id="accountToDelete"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cancelDelete">Отмена</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">Удалить</button>
            </div>
        </div>
    </div>
</div>
<script>
let accountIdToDelete;
    let deleteModal;

    document.addEventListener('DOMContentLoaded', function() {
        deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));

        document.getElementById('confirmDelete').addEventListener('click', function() {
            deleteAccount();
        });

        document.getElementById('cancelDelete').addEventListener('click', function() {
            deleteModal.hide();
        });

        // Close modal when clicking outside or pressing ESC
        document.getElementById('deleteModal').addEventListener('hidden.bs.modal', function () {
            accountIdToDelete = null;
        });
    });

    function showDeleteModal(accountId, accountLogin) {
        accountIdToDelete = accountId;
        document.getElementById('accountToDelete').textContent = accountLogin;
        deleteModal.show();
    }

    function deleteAccount() {
        fetch('/delete_login/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({account_id: accountIdToDelete})
        })
        .then(response => response.json())
        .then(data => {
            if (data.message) {
                deleteModal.hide();
                location.reload(); // Перезагрузка страницы после успешного удаления
            } else {
                alert('Ошибка при удалении аккаунта');
            }
        })
        .catch((error) => {
            console.error('Error:', error);
            alert('Произошла ошибка при удалении аккаунта');
        });
    }
</script>
