{% extends "base.html" %}
{% block content %}
    <table class="table table-hover">
        <thead class="table-secondary-nohover">
        <tr>
            <th scope="col">Логин</th>
            <th scope="col">Почта</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody id="mail_account-list">
        {% for account in mail_accounts %}
            {% include "mail_account_row.html" %}
        {% endfor %}
        </tbody>
    </table>
{% include "delete_modal.html" %}
{% endblock content %}